.splash__wrapper {
  width: 100vw;
  height: 100vh;
  /* background-color: #fff; */
  background-image: url("./landing_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  margin: 0;
  padding: 0;
}

.loading-img {
  width: 148px;
  height: 148px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.splash-text {
  font-family: "Lora", serif;
  color: #362c28;
  position: fixed;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: text 2s infinite;
}

@keyframes text {
  0% {
    color: #362c28;
  }
  50% {
    color: #fff5b2;
  }
  100% {
    color: #362c28;
  }
}
