/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

  }
  
  body {
      background-image: url(https://trello-attachments.s3.amazonaws.com/5f02e03a4b858d806aed36e5/414x716/7a034701441201b68a960cf8179af6f0/background.png);
      background-repeat: no-repeat;
      background-size: cover;
      object-fit: cover;
    font-family: "Lora", serif;
    
  }  */
.top-chart {
  margin: 50px;
  padding: 1em;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  margin-top: 5px;
  padding: 1em;
}
.bottom-chart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: auto;
}
.title {
  font-family: "Lora", serif;
}
label {
  font-weight: bold;
}

.progress {
  background-color: rgb(255, 245, 178);
  height: 40px;
  width: 300px;
  border-radius: 25px;
  top: 10px;
  margin-bottom: 30px;
  box-shadow: 5px -10px 12px 3px rgba(0, 0, 0, 0.3) inset;
  padding: 0.2px;
}

.fill {
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.5) 25%,
    transparent,
    transparent 50%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0.5) 75%,
    transparent 75%,
    transparent
  );
  background-size: 40px;
  border-radius: 25px;
  animation: move 0.75s linear infinite;
}
@keyframes move {
  100% {
    background-position: 40px 0px;
  }
}
.a {
  background-color: rgb(255, 245, 178);
  width: 20%;
  height: 100%;
}
.b {
  background-color: rgb(212, 252, 195);
  width: 30%;
  height: 100%;
}
.c {
  background-color: rgb(212, 252, 195);
  width: 50%;
  height: 100%;
}
