.progressBar {
  margin: 6em 2em;
  margin-bottom: 1.5em;
  text-align: center;
    h3 {
      margin-top: 1em;
    }
}
.react-sweet-progress {
  margin-top: 1em;
}

.goalFooter {
  margin-top: 1em;
  h3 {
    text-align: center;
    margin-bottom: 1em;
    font-family: "Lora", serif;
  }
  hr {
    border: 1px solid rgba(78, 78, 78, 0.726);
    width: 75%;
    margin: 0 auto;
  }
}

.emptyScreen {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin-top: 3em;
  h2 {
    font-family: "Lora", serif;
    margin-top: 2em;
    font-weight: 400;
    font-size: 22px;
    text-align: center;
    width: 60%;
    margin-left: 3.5em;
    margin-bottom: 2em;
  }
  .img {
    align-self: center;
    justify-self: center;
  }
}